<!-- sidebar -->
<div class="h-full hidden  fixed [@media(min-width:992px)]:flex w-[15%]">
  <div
    class="sidebar w-full bg-[linear-gradient(-180deg,#b8b3b3_0%,#dad6d6_100%)]  h-[calc(100dvh - 139px)] grow shrink basis-full h-full relative top-30">
    <div class="app-sidebar">
      <div
        class="sidebar min-h-[calc(100vh - 139px)] bg-[linear-gradient(-180deg,#b8b3b3_0%,#dad6d6_100%)] text-[16px] leading-[15px] h-full p-0">
        <div
          class="sidebar-title bg-[linear-gradient(180deg,#030a12,#444647_42%,#58595a)] text-white mb-0 py-1 px-1.5 flex "   (click)="toggleDiv()">
          <h5 class="inline-block text-[18px] mb-0 w-full">Others</h5>
          <img src="angle-down-solid-full.svg" alt="" class="h-4 w-4  filter invert brightness-0"
           [ngClass]="isOpen ? 'rotate-180' : 'rotate-0'">
        </div> 
        <nav class="casino" *ngIf="isOpen">
          <ul class="mt-0 mb-0" >
            <li class="nav-item pt-1.5 pb-1.5">
              <a href="" class="nav-link text-[16px] text-white pl-4 pr-4  ">
                <span>Casino</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- next -->
      <div
        class="sidebar min-h-[calc(100vh - 139px)] bg-[linear-gradient(-180deg,#b8b3b3_0%,#dad6d6_100%)] text-[16px] leading-[15px] h-full p-0">
        <div
          class="sidebar-title bg-[linear-gradient(180deg,#030a12,#444647_42%,#58595a)] text-white mb-0 mt-px py-1 px-1.5 flex"  (click)="togglefunction()">
          <h5 class="inline-block text-[18px] mb-0 w-full" >All Sports</h5>
          <img src="angle-down-solid-full.svg" alt="" class="h-4 w-4  filter invert brightness-0"  [ngClass]="isOpen ? 'rotate-180' : 'rotate-0'">
        </div>
        <nav class="casino"  *ngIf="Open">
          <ul class="mt-0 mb-0">
            <li class="nav-item pt-1.5 pb-1.5">
              <div class="flex pt-1 pl-2.5">
                <span><i>
                    <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                  </i></span>
                <span class="ps-1 text-white">Cricket</span>
              </div>
              <!-- first -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white">BBL</span>
                  </div>
                </li>
              </ul> -->
              <!-- 2nd -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> Falcons Champions Trophy T20 </span>
                  </div>
                </li>
              </ul> -->
              <!-- 3rd -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> Indo-Nepal T20 Championship </span>
                  </div>
                </li>
              </ul> -->
              <!-- 4th -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> International League T20 </span>
                  </div>
                </li>
              </ul> -->
              <!-- 5th -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> International Twenty20 Matches </span>
                  </div>
                </li>
              </ul> -->
              <!-- 6th -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> Vijay Hazare Trophy </span>
                  </div>
                </li>
              </ul> -->
              <!-- 7th -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white">Womens International Twenty20 Matches </span>
                  </div>
                </li>
              </ul> -->
            </li>
          </ul>
        </nav>
        <!-- soccer -->
        <nav class="casino"  *ngIf="Open">
          <ul class="mt-0 mb-0">
            <li class="nav-item pt-1.5 pb-1.5">
              <div class="flex pt-1 pl-2.5">
                <span><i>
                    <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                  </i></span>
                <span class="ps-1 text-white">Soccer</span>
              </div>
              <!-- first -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white">BBL</span>
                  </div>
                </li>
              </ul> -->
              <!-- 2nd -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> Falcons Champions Trophy T20 </span>
                  </div>
                </li>
              </ul> -->
              <!-- 3rd -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> Indo-Nepal T20 Championship </span>
                  </div>
                </li>
              </ul> -->
              <!-- 4th -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> International League T20 </span>
                  </div>
                </li>
              </ul> -->
              <!-- 5th -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> International Twenty20 Matches </span>
                  </div>
                </li>
              </ul> -->
              <!-- 6th -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> Vijay Hazare Trophy </span>
                  </div>
                </li>
              </ul> -->
              <!-- 7th -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white">Womens International Twenty20 Matches </span>
                  </div>
                </li>
              </ul> -->
            </li>
          </ul>
        </nav>
        <!-- tennis -->
        <nav class="casino"  *ngIf="Open">
          <ul class="mt-0 mb-0">
            <li class="nav-item pt-1.5 pb-1.5">
              <div class="flex pt-1 pl-2.5">
                <span>
                  <i>
                    <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                  </i>
                </span>
                <span class="ps-1 text-white">Tennis</span>
              </div>
              <!-- first -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white">BBL</span>
                  </div>
                </li>
              </ul> -->
              <!-- 2nd -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> Falcons Champions Trophy T20 </span>
                  </div>
                </li>
              </ul> -->
              <!-- 3rd -->
              <!-- <ul class="ml-4 my-0">
                <li class="py-1 relative pl-2.5">
                  <div class="flex">
                    <span><i>
                        <img src="square-plus-regular-full.svg" alt="" class="h-6 w-6  filter invert brightness-0">
                      </i></span>
                    <span class="ps-1 text-white"> Indo-Nepal T20 Championship </span>
                  </div>
                </li>
              </ul> -->
            </li>
          </ul>
        </nav>
      </div>
    </div>
    
  </div>
</div>