<!-- sidebar -->
<div class="h-full hidden  fixed [@media(min-width:992px)]:flex w-[15%]">
  <div
    class="sidebar w-full bg-[#ccc7c7] h-[calc(100dvh - 139px)] grow shrink basis-full h-full pt-[23px] relative top-24">
    <div class="app-sidebar">
      <div
        class="sidebar min-h-[calc(100vh - 139px)] bg-[linear-gradient(-180deg,#b8b3b3_0%,#dad6d6_100%)] text-[16px] leading-[15px] h-full p-0">
        <div
          class="sidebar-title h-[29.59px] bg-[linear-gradient(180deg,#030a12,#444647_42%,#58595a)] text-white mb-0 py-1 px-[6px]  flex "(click)="toggleDiv()">
          <h5 class="inline-block text-[18px] mb-0 w-full p-[2.5px]">Others</h5>
          <img src="angle-right-solid-full.svg" alt="" class="h-4 w-4"
           [ngClass]="isOpen ? 'rotate-90' : 'rotate-0'">
        </div> 
        <nav class="casino" *ngIf="isOpen">
          <ul class="mt-0 mb-0 bg-[linear-gradient(-180deg,#b8b3b3_0%,#dad6d6_100%)]" >
            <li class="nav-item pt-1.5 pb-1.5">
              <a href="" class="nav-link text-[16px] text-white bg-[linear-gradient(-180deg,#b8b3b3_0%,#dad6d6_100%)] pl-4 pr-4  ">
                <span>Casino</span></a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- next -->
      <div
        class="sidebar min-h-[calc(100vh - 139px)] bg-[linear-gradient(-180deg,#b8b3b3_0%,#dad6d6_100%)] text-[16px] leading-[15px] h-full p-0">
        <div
          class="sidebar-title h-[29.59px] bg-[linear-gradient(180deg,#030a12,#444647_42%,#58595a)] text-white mb-0 mt-[1.5px] py-[4px] px-[6px] flex"  (click)="togglefunction()">
          <h5 class="inline-block text-[18px] mb-0 w-full p-[2.5px]" >All Sports</h5>
          <img src="angle-right-solid-full.svg" alt="" class="h-4 w-4"
            [ngClass]="Open ? 'rotate-90' : 'rotate-0'">
        </div>
        <nav class="casino bg-[#ccc7c7]"  *ngIf="Open">
          <ul class="mt-0 mb-0">
            <li class="nav-item pt-1.5 pb-1.5">
              <div class="flex pt-1 pl-2.5 ">
                <span><i>
                    <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4 filter invert brightness-0">
                  </i></span>
                <span class="ps-1 text-white">Cricket</span>
              </div>
            </li>
          </ul>
        </nav>
        <!-- soccer -->
        <nav class="casino bg-[#ccc7c7]"  *ngIf="Open">
          <ul class="mt-0 mb-0">
            <li class="nav-item pt-1.5 pb-1.5">
              <div class="flex pt-1 pl-2.5">
                <span><i>
                    <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4 filter invert brightness-0">
                  </i></span>
                <span class="ps-1 text-white">Soccer</span>
              </div>
            </li>
          </ul>
        </nav>
        <!-- tennis -->
        <nav class="casino bg-[#ccc7c7]"  *ngIf="Open">
          <ul class="mt-0 mb-0">
            <li class="nav-item pt-1.5 pb-1.5">
              <div class="flex pt-1 pl-2.5">
                <span>
                  <i>
                    <img src="square-plus-regular-full.svg" alt="" class="h-4 w-4  filter invert brightness-0">
                  </i>
                </span>
                <span class="ps-1 text-white">Tennis</span>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>