<div class="flex w-full">
  <div class="content w-full lg:w-[85%] lg:h-[calc(100dvh-157px)] lg:overflow-auto">
    <div class="app-game-details">
      <div class="m5 lg:m-[5px]">
        <div class="relative w-full block">
          <!-- Tabs bar -->
          <div class="tabs w-full rounded-none flex flex-nowrap overflow-x-auto overflow-y-hidden
           bg-[linear-gradient(-180deg,#f4b501_0%,#f68700_100%)]
           shadow-[0_-5px_5px_-5px_#00000080]">
            <!-- ODDS TAB -->
            <div class="tabitems pt-[9px] pb-2 cursor-pointer"
              [ngClass]="activeTab === 'odds' ? 'border-t-2 border-black' : ''" (click)="setTab('odds')">
              <span class="px-4 border-r border-black text-[12px]">
                ODDS
              </span>
            </div>

            <!-- BET LIST TAB -->
            <div class="tabitems pt-[9px] cursor-pointer"
              [ngClass]="activeTab === 'betlist' ? 'border-t-2 border-black' : ''" (click)="setTab('betlist')">
              <span class="px-4 text-[12px]">
                BET LIST ( 0 )
              </span>
            </div>

            <!-- Speaker icon -->
            <div class="speaker-icon absolute right-10 top-2 text-[18px]">
              <button class="underline">
                <i class="fas fa-volume-off"></i>
                <span>×</span>
              </button>
            </div>

            <!-- TV icon -->
            <div class="tv-icon absolute right-2 top-2 text-[18px]">
              <i class="fas fa-tv font-extrabold"></i>
            </div>
          </div>

          <!-- Tab Content -->
          <div class="bg-white">
            <!-- ODDS CONTENT -->
            <div *ngIf="activeTab === 'odds'">
              <!-- <p class="text-sm font-medium">Odds Content Here</p> -->
              <div class=" ">
                <div class="left-part">
                  <div class="pb-0 w-full gameheading text-[14px] py-1 px-2  flex justify-between items-center min-h-8 relative 
                              bg-[linear-gradient(180deg,#030a12,#444647_42%,#58595a)] text-white">
                    <div class="card-header-title">
                      Leeward Islands W v Barbados W
                    </div>
                    <div class="uppercase">
                      2026-01-19 06:30 pm
                    </div>
                  </div>
                  <div class="card-body p-0 mb-[2px]">
                    <div class="container mr-auto ml-auto text-white h-[90px] grid items-center relative
                      time-cricket-banner w-full">
                      <div class="flex flex-col justify-between items-center p-3 pt-1.5 h-[100px]">
                        <div class="flex justify-between w-full">
                          <div class="game-status text-[12px] font-medium ">OPEN</div>
                          <div class="game-remaining-time text-[12px] font-medium ">
                            <span class="bet-start text-[#ff5] text-[12px]">Game Time</span> 19-01-2026 06:30:00 PM
                          </div>
                        </div>
                        <div class="flex justify-center items-center flex-col">
                          <div class="game-remaining-time">
                            <span class="bet-start text-white text-[12px] mt-1  block">
                              Time Remaining
                            </span>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <!-- show in mobile -->
                    <div class="market-category showInMobile">
                      <ul class="flex p-[5px] relative overflow-x-scroll
           bg-[linear-gradient(180deg,#000000,#000000_42%,#000000)]
           text-[12px]">
                        <li class="uppercase ml-[5px] py-[5px] px-[10px]
                        min-w-[max-content] rounded-[15px] border border-white cursor-pointer"
                         [ngClass]="{'bg-cricket-gradient text-black ': activeTabb === 'popular', 'text-white': activeTabb !== 'popular'}" 
                         (click)="setActive('popular')"><a>POPULAR</a>
                        </li>

                        <li class="uppercase ml-[5px] py-[5px] px-[10px]
             min-w-[max-content] rounded-[15px] border border-white cursor-pointer" [ngClass]="{
        'bg-cricket-gradient text-black ': activeTabb === 'match odds',
        'text-white': activeTabb !== 'match odds'
      }" (click)="setActive('match odds')">
                          <a>Match Odds</a>
                        </li>

                        <li class="uppercase ml-[5px] py-[5px] px-[10px]
             min-w-[max-content] rounded-[15px] border border-white cursor-pointer" [ngClass]="{
        'bg-cricket-gradient text-black ': activeTabb === 'tied match',
        'text-white': activeTabb !== 'tied match'
      }" (click)="setActive('tied match')">
                          <a>Tied Match</a>
                        </li>

                        <li class="uppercase ml-[5px] py-[5px] px-[10px]
             min-w-[max-content] rounded-[15px] border border-white cursor-pointer" [ngClass]="{
        'bg-cricket-gradient text-black ': activeTabb === 'all market',
        'text-white': activeTabb !== 'all market'
      }" (click)="setActive('all market')">
                          <a>All Market</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- next part -->
              <div>
                <div
                  class="market-title  w-full flex justify-between items-center text-[14px] font-medium bg-[linear-gradient(180deg,#000000,#000000_42%,#000000b3)] py-[3px] px-2 lg:text-[13px] lg:py-1  lg:px-2 lg:mt-0">
                  <div class="flex items-center text-white text-[13px]"> Match Odds
                    <div class="ms-3">
                      <div class="cashout-container inline-block leading-[18px] ml-2 align-middle font-normal">
                        <span class="cashout-lable ml-[5px]">
                          <span
                            class="Cashout-icon w-[18px] h-[18px] rounded-xs bg-[#ffb900] flex items-center justify-center text-black float-left"><i
                              class="fa fa-circle w-[13px] h-[14px]"></i>
                          </span>Cash Out
                        </span>
                      </div>
                    </div>
                  </div>
                  <a href="" class="text-white cursor-pointer">
                    <span>
                      <i class="fa fa-info-circle marketInfo"></i>
                    </span>
                  </a>
                </div>
                <!-- desktop -->
                <div class="desktop-header-display hidden md:block">
                  <div class="table-header flex border-b border-[#CECECE]">

                  </div>

                </div>
                <!-- mobile -->
                <div class="mobile-header-display block ">
                  <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0">
                    <div
                      class="flex justify-between items-center h-[22px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0 py-[2px] px-0 border-l border-[1px] border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                      <b class="text-[12px] text-[#212529] font-normal"> Min:
                        <span>5</span>
                        Max: <span>
                          10000
                        </span>
                      </b>
                      <span
                        class="matchedbetheading text-[12px] font-normal border-0 float-right lg:text-base lg:font-semibold lg:border">M:47.90</span>
                    </div>
                    <div
                      class="flex justify-center items-center h-[22px] back float-left text-center bg-[#72bbef] cursor-pointer  px-0 border-l border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 -[20%] min-w-[20%] max-w-[20%] md:w-auto md:min-w-auto md:max-w-auto box-2">
                      <b class="font-normal text-[12px]">BACK</b>
                    </div>
                    <div
                      class="flex justify-center items-center h-[22px] lay float-left text-center bg-[#faa9ba] cursor-pointer  px-0 border-l border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 -[20%] min-w-[20%] max-w-[20%] md:w-auto md:min-w-auto md:max-w-auto box-2">
                      <b class="font-normal text-[12px]">LAY</b>
                    </div>
                  </div>
            </div> 
                  <!-- 2nd row -->
                  <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0">
                    <div
                      class="h-[41px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0  px-0 border-l border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                      <b class="flex items-start text-[12px] text-[#212529] font-normal"> Leeward Islands W
                      </b>
                    </div>
                    <div
                      class="h-[41px] bg-[#72bbef] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                      <span class="text-[16px] leading-5 font-normal"> 1.9</span>
                      <span class="text-[12px] leading-[17px] font-normal"> 6.67</span>
                    </div>

                    <div
                      class="h-[41px] bg-[#faa9ba] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                      <span class="font-normal text-[16px] block leading-4">2.58 </span>
                      <span class="font-normal text-[12px] p-0 leading-[18px]">234.56</span>
                    </div>
                  </div>
                  <!-- 3rd row -->
                  <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0">
                    <div
                      class="h-[41px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0  px-0 border-l border border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                      <b class="flex items-start text-[12px] text-[#212529] font-normal">
                        Barbados W
                      </b>
                    </div>
                    <div
                      class="h-[41px] bg-[#72bbef] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                      <span class="font-normal text-[16px] block leading-4">1.92 </span>
                      <span class="font-normal text-[12px] p-0 leading-[18px]">1.15 </span>
                    </div>
                    <div
                      class="h-[41px] bg-[#faa9ba] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                      <span class="font-normal text-[16px] block leading-4">1.93 </span>
                      <span class="font-normal text-[12px] p-0 leading-[18px]">35.74 </span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 2nd -->
              <div>
                <div
                  class="market-title w-full flex justify-between items-center text-[14px] font-medium bg-[linear-gradient(180deg,#000000,#000000_42%,#000000b3)] py-[3px] px-2 lg:text-[13px] lg:py-1  lg:px-2 lg:mt-0">
                  <div class="flex items-center text-white text-[13px]">Tied Match
                    <div class="ms-3">
                      <div class="cashout-container inline-block leading-[18px] ml-2 align-middle font-normal">
                        <span class="cashout-lable ml-[5px]">
                          <span
                            class="Cashout-icon w-[18px] h-[18px] rounded-xs bg-[#ffb900] flex items-center justify-center text-black float-left"><i
                              class="fa fa-circle w-[13px] h-[14px]"></i>
                          </span>Cash Out
                        </span>
                      </div>
                    </div>
                  </div>
                  <a href="" class="text-white cursor-pointer">
                    <span>
                      <i class="fa fa-info-circle marketInfo"></i>
                    </span>
                  </a>
                </div>
                <!-- desktop -->
              </div>
              <!-- mobile -->
              <div class="mobile-header-display block">
                <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0">
                  <div
                    class="flex justify-between items-center h-[22px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0 py-[2px] px-0 border-l border border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                    <b class="text-[12px] text-[#212529] font-normal"> Min:
                      <span>5</span>
                      Max: <span>
                        10000
                      </span>
                    </b>
                    <span
                      class="matchedbetheading text-[12px] font-normal border-0 float-right lg:text-base lg:font-semibold lg:border py-1">M:47.90</span>
                  </div>
                  <div
                    class="flex justify-center items-center back h-[22px] float-left text-center bg-[#72bbef] cursor-pointer  px-0 border-l border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 -[20%] min-w-[20%] max-w-[20%] md:w-auto md:min-w-auto md:max-w-auto box-2">
                    <b class="font-normal text-[12px]">BACK</b>
                  </div>
                  <div
                    class="flex justify-center items-center lay h-[22px] float-left text-center bg-[#faa9ba] cursor-pointer  px-0 border-l border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 -[20%] min-w-[20%] max-w-[20%] md:w-auto md:min-w-auto md:max-w-auto box-2">
                    <b class="font-normal text-[12px]">LAY</b>
                  </div>
                </div>

                <!-- 2nd row -->
                <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0">
                  <div
                    class="h-[41px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0  px-0 border-l border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                    <b class="flex items-start text-[12px] text-[#212529] font-normal"> Yes
                    </b>
                    <p></p>

                  </div>
                  <div
                    class="h-[41px] bg-[#72bbef] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                    <span class="font-normal text-[16px] block leading-5">1.9 </span>
                    <span class="font-normal text-[12px] p-0 leading-[18px]">6.67 </span>
                  </div>
                  <div
                    class="h-[41px] bg-[#faa9ba] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                    <span class="font-normal text-[16px] block leading-5">2.58 </span>
                    <span class="font-normal text-[12px] p-0 leading-[18px]">234.56</span>
                  </div>
                </div>
                <!-- 3rd row -->
                <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0">
                  <div
                    class="h-[41px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0  px-0 border-l border border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                    <b class="flex items-start text-[12px] text-[#212529] font-normal">
                      No
                    </b>
                  </div>
                  <div
                    class="h-[41px] bg-[#72bbef] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                    <span class="font-normal text-[16px] block leading-5">1.92 </span>
                    <span class="font-normal text-[12px] p-0 leading-[18px]">1.15 </span>
                  </div>
                  <div
                    class="h-[41px] bg-[#faa9ba] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                    <span class="font-normal text-[16px] block leading-5">1.93 </span>
                    <span class="font-normal text-[12px] p-0 leading-[18px]">35.74 </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 3rd -->
            <div>
              <div
                class="market-title  w-full flex justify-between items-center text-[14px] font-medium bg-[linear-gradient(180deg,#000000,#000000_42%,#000000b3)] py-[3px] px-2 lg:text-[13px] lg:py-1  lg:px-2 lg:mt-0">
                <div class="flex items-center text-white text-[13px]">Completed Match
                  <div class="ms-3">
                    <div class="cashout-container inline-block leading-[18px] ml-2 align-middle font-normal">
                      <span class="cashout-lable ml-[5px]">
                        <span
                          class="Cashout-icon w-[18px] h-[18px] rounded-xs bg-[#ffb900] flex items-center justify-center text-black float-left"><i
                            class="fa fa-circle w-[13px] h-[14px]"></i>
                        </span>Cash Out
                      </span>
                    </div>
                  </div>
                </div>
                <a href="" class="text-white cursor-pointer">
                  <span>
                    <i class="fa fa-info-circle marketInfo"></i>
                  </span>
                </a>
              </div>
              <!-- desktop -->

              <!-- mobile -->
              <div class="mobile-header-display block">
                <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0">
                  <div
                    class="flex justify-between items-center h-[22px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0 py-[2px] px-0 border-l border border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                    <b class="text-[12px] text-[#212529] font-normal"> Min:
                      <span>5</span>
                      Max: <span>
                        10000
                      </span>
                    </b>
                    <span
                      class="matchedbetheading text-[12px] font-normal border-0 float-right lg:text-base lg:font-semibold lg:border py-1">M:47.90</span>
                  </div>
                  <div
                    class="flex justify-center items-center h-[22px] back float-left text-center bg-[#72bbef] cursor-pointer  px-0 border-l border border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 -[20%] min-w-[20%] max-w-[20%] md:w-auto md:min-w-auto md:max-w-auto box-2">
                    <b class="font-normal text-[12px] ">BACK</b>
                  </div>
                  <div
                    class="flex justify-center items-center h-[22px] lay float-left text-center bg-[#faa9ba] cursor-pointer  px-0 border-l border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 -[20%] min-w-[20%] max-w-[20%] md:w-auto md:min-w-auto md:max-w-auto box-2">
                    <b class="font-normal text-[12px]">LAY</b>
                  </div>
                </div>

                <!-- 2nd row -->
                <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0">
                  <div
                    class="h-[41px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0  px-0 border-l border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                    <b class="flex items-start text-[12px] text-[#212529] font-normal"> Yes
                    </b>
                    <p></p>

                  </div>
                  <div
                    class="h-[41px] bg-[#72bbef] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                    <span class="font-normal text-[16px] block leading-5">1.9 </span>
                    <span class="font-normal text-[12px] p-0 leading-[18px]">6.67 </span>
                  </div>
                  <div
                    class="h-[41px] bg-[#faa9ba] cursor-pointer border-l border border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                    <span class="font-normal text-[16px] block leading-5">2.58 </span>
                    <span class="font-normal text-[12px] p-0 leading-[18px]">234.56</span>
                  </div>
                </div>
                <!-- 3rd row -->
                <div class="table-header flex lg:flex lg:border-b lg:border-[#CECECE] p-0 mb-[50px]">
                  <div
                    class="h-[41px] first:pl-[5px] first:pr-[5px] lg:pl-0 lg:pr-0  px-0 border-l border border-[#CECECE] lg:py-0 lg:px-0 lg:border-0 w-[60%] min-w-[60%] max-w-[60%] md:w-auto md:min-w-auto md:max-w-auto box-6">
                    <b class="flex items-start text-[12px] text-[#212529] font-normal">
                      No
                    </b>
                  </div>
                  <div
                    class="h-[41px] bg-[#72bbef] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                    <span class="font-normal text-[16px] block leading-5">1.92 </span>
                    <span class="font-normal text-[12px] p-0 leading-[18px]">1.15 </span>
                  </div>
                  <div
                    class="h-[41px] bg-[#faa9ba] cursor-pointer border-l border-[#CECECE] min-w-[20%] max-w-[20%] flex flex-col justify-center items-center box-2">
                    <span class="font-normal text-[16px] block leading-5">1.93 </span>
                    <span class="font-normal text-[12px] p-0 leading-[18px]">35.74 </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!-- BET LIST CONTENT -->
        <div *ngIf="activeTab === 'betlist'">
          <p class="text-sm text-[18px] text-center">You Have No Open Bets.</p>
        </div>
      </div>
    </div>

  </div>
