@import "tailwindcss";
@layer utilities {
  .bg-cricket-gradient {
    background: linear-gradient(-180deg, #f4b501 0%, #f68700 100%);
  }
 .bg-soccer-gradient {
    background: linear-gradient(-180deg, #f4b501 0%, #f68700 100%); 
  }
  .bg-tennis-gradient {
    background: linear-gradient(-180deg, #f4b501 0%, #f68700 100%);
  }
}
@layer utilities {
  .bg-active-gradient {
    background: linear-gradient(-180deg, #f4b501 0%, #f68700 100%);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
  
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
